{% extends "base.html" %}


{% block content %}

<div class ="row">
    {{myfilter.form}}
    
</div>


<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nombre de Cliente</td>
            <td>Pais</td>
            <td>Ciudad</td>
            <td>Categotia</td>
            <td>
                <a href="{% url 'clientes_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes_list %}
            <tr>
                <td>{{cliente.name_client}}</td>
                <td>{{cliente.country}}</td>
                <td>{{cliente.city}}</td>
                <td>{{cliente.category}}</td>
                <td>
                    <a href="{% url 'cliente_update' cliente.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'cliente_delete' cliente.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}